#title {
    margin: clamp(0.2rem, 2vh, 2rem) clamp(1rem, 10vh, 10rem);/*0.625rem 3.125rem;*/
    margin-right: clamp(2rem, 30vw, 20rem);
    padding-left: clamp(1rem, 2vw, 2rem);
    padding-bottom: clamp(1rem, 2vh, 2rem);

    text-transform: uppercase;
    font-style: italic;
    font-size: clamp(1rem, 5.5vw, 6rem);
    color: white;

    border-bottom: 0.1625rem solid rgb(200, 200, 200);
}

#rulesContainer {
    padding: clamp(0.2rem, 2vh, 2rem) clamp(1rem, 10vh, 10rem);/*0.625rem 3.125rem;*/

    background-color: rgba(20, 20, 20, .8);
}

#rulesContainer > #rule, #rulesContainer > #rule2 {
    border-top: .2rem solid white;
}

#rulesContainer > #rule > h2,  #rulesContainer > #rule2 > h2{
    font-size: clamp(1rem, 2vw, 3rem);
    width: fit-content;
    padding: 0rem 2vw 0.4rem 1rem;

    border-bottom: 0.1vw solid rgb(200, 200, 200);
}

#rulesContainer > #rule > #info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*A little twist to rule2 div*/

#rulesContainer > #rule2 > #info {
    display: flex;
    flex-direction: row-reverse;
}

#rulesContainer > #rule > #info > img, iframe {
    width: 30vw;
    margin-left: 10vw;
    height: fit-content;
}

#rulesContainer > #rule2 > #info > img, iframe {
    width: 30vw;
    margin-right: 10vw;
    height: fit-content;
}

#rulesContainer > #rule > #info > #desc > p, #rulesContainer > #rule2 > #info > #desc > p {
    width: 50vw;

    line-height: 1.6;
}

p {
    font-size: 1.5vw;
}