
#rulesContainer > #rule > #info > #desc > input, #rulesContainer > #rule > #info > #desc > button {
    background-color: rgb(20,20,20);
    border: 2px solid gray;
    border-radius: 2vw;
    height: 10vh;
    width: 25vw;
    margin: 1vw;
    font-size: 1vw;
}

#rulesContainer > #rule > #info > #desc > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: rgb(20,20,20);
    border: 2px solid rgb(20,20,20);
    text-align: center;
}

#rulesContainer > #rule > #info > #desc > button:hover {
    background-color: rgb(20,20,20);
    color: gray;
    border: 2px solid gray;
}

#rulesContainer > #rule > #info > #profile-desc {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#rulesContainer > #rule > #info > #profile-desc > img {
    border-radius: 10rem;
    border: .5vw solid grey;
    width: 10vw;
}

#rulesContainer > #rule2 > #cue {
    text-align: center;

    margin: 0 10vw;
}

#rulesContainer > #rule2 > #cue > p, #cue > p {
    font-size: 1.7vw;
    font-family: "Silkscreen";
    font-style: italic;
    text-align: justify;

    line-height: 3;
    margin-top: 10vh;

}


@media (max-width: 426px) {
    #rulesContainer > #rule > #info {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #rulesContainer > #rule > #info > #desc > input, #rulesContainer > #rule > #info > #desc > button {
        width: 50vw;
        height: 6vh;

        font-size: 2vw;
    }


    #rulesContainer > #rule2 > #cue {
        margin: 5vh 10vw;
    }

    #rulesContainer > #rule2 > #cue > p, #cue > p {
        font-size: 3vw;
    }
}