footer {
  
  bottom: 0;
  left: 0;

  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-top: 10vh;
  margin-bottom: 0;

  border-top: 0.25vw solid gray;
  background-color: rgba(128, 128, 128, 0.5);
}
