@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

@font-face {
  font-family: arcade;
  src: url(../public/fonts/arcade_font/ARCADE.ttf);
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: rgb(80, 80, 80);
}

* {
  color: white;
  font-family: "arcade";
}

html,
body {
  background-color: rgb(20, 20, 20);
  background-image: url("https://i.pinimg.com/originals/b4/71/d6/b471d641c2fb84308dfb016cbf4ac6bb.gif");

  margin: 0px;
  min-height: 100vh;
}

ul {
  list-style: none;

}


ul li p {
  font-family: "Silkscreen";
  font-size: 1vw;
}

/* Pages Title Style */
@keyframes title-entry {
  0% {
      opacity: 0;
      transform: translateX(-10vw);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}


#title {
  margin: clamp(0.2rem, 2vh, 2rem) clamp(1rem, 10vh, 10rem);/*0.625rem 3.125rem;*/
  margin-right: clamp(2rem, 30vw, 20rem);
  padding-left: clamp(1rem, 2vw, 2rem);
  padding-bottom: clamp(1rem, 2vh, 2rem);

  text-transform: uppercase;
  font-style: italic;
  font-size: clamp(1rem, 5.5vw, 6rem);
  color: white;

  border-bottom: 0.1625rem solid rgb(200, 200, 200);
  animation: .5s ease-in-out title-entry;
}


p, i, del {
  line-height: 2;
  font-size: 1.5vw;
  font-family: "SilkScreen";
}

.navbar {
  margin: 0 2vw;
  width: 96vw;
}

.main,
.navbar,
.footer {
  background-color: rgb(20, 20, 20);
}

a {
  text-decoration: none;
  color: white;
}
a:hover,
button:hover {
  cursor: pointer;
  color: rgb(20, 20, 20);
  background-color: white;
}

a:hover > img, button:hover > img {
  animation: .5s ease-in-out title-entry;
}

#rulesContainer, .main {
  animation: 2s ease-in-out div-entry;
}

/*  About and Rule Pages  */

#rulesContainer {
  padding: clamp(0.2rem, 2vh, 2rem) clamp(1rem, 10vh, 10rem);/*0.625rem 3.125rem;*/

  background-color: rgba(20, 20, 20, .8);
}

#rulesContainer > #rule, #rulesContainer > #rule2 {
  border-top: .2rem solid white;
}

#rulesContainer > #rule > h2,  #rulesContainer > #rule2 > h2{
  font-size: clamp(1rem, 2vw, 3rem);
  width: fit-content;
  padding: 0rem 2rem 0.4rem 1rem;

  border-bottom: 0.1625rem solid rgb(200, 200, 200);
}

#rulesContainer > #rule > #info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*A little twist to rule2 div*/

#rulesContainer > #rule2 > #info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#rulesContainer > #rule > #info > img {
  width: 30%;
  margin-left: 10vw;
}

#rulesContainer > #rule2 > #info > img {
  width: 30%;
  margin-right: 10vw;
}


/*Responsive*/

@media (max-width: 426px) {

  #title {
    margin: 10vw;
    margin-right: 20vw;
    padding-bottom: 1vw;
  }

  p, i, del {
    line-height: 2;
    font-size: 3vw;
    font-family: "SilkScreen";
  }

  #rulesContainer {
    padding: clamp(0.2rem, 2vh, 2rem) clamp(1rem, 5vh, 10rem);
  }

  #rulesContainer > #rule > #info, #rulesContainer > #rule2 > #info {
    flex-wrap: wrap;
    justify-content: center;
    
  }

  #rulesContainer > #rule > #info > img {
    margin: 5vh 0;
  }

  #rulesContainer > #rule2 > #info > img {
    margin: 5vh 0;
  }

  /*About page buttons*/

  #desc > #infoButtons {
    display: flex;
    flex-direction: column;
  }/*Falta fzr o mesmo para os screens de laptop e tablets(os "normais")*/

  #desc > #infoButtons > button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    color: rgb(20,20,20);

    border: 2px solid grey;
    text-align: center;
  }

  #desc > #infoButtons > button:hover {
    background-color: rgb(20, 20, 20);
  }

  #desc > #infoButtons > button:hover > p > u {
    color: grey;
  }
}