
.corpo {
    margin-top: 5%;
    text-align: center;
}

@keyframes div-entry {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0.2vw solid rgb(150, 150, 150);
    animation: 3s ease-in-out div-entry;
}

tr, th, td {
    font-style: italic;
}

tr {
    border-bottom: 0.1vw solid rgb(150, 150, 150);
    background-color: black;
    color: white;
    font-family: "arcade";
}

.headRow {
    border: 0.2vw solid rgb(150, 150, 150);
}

th h1 {
    margin: 1vw 1vh;
    font-size: 3vw;
}

td {
    font-size: 2vw;
    padding: 2vh 2vw;
    height: 8vw;
    text-align: center;
}