.main {
    border: 0.25vw solid gray;
}

.main > h1 {
    font-size: 2vw;
    text-align: right;
}

.main .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
}

.main >.content > .desc {
    display: flex;
    flex-direction: column;
}

.main >.content > .desc, .main > .content > img{
    padding: 0 1vw;    
}

.main > .content > .desc > a {
    font-size: 3vw;

    text-align: center;

    padding: 1vh 5vw;
    margin-left: 10vw;
}

.main > .content > .desc > a > img {
    width: 3vw;
}

.main > .content > .desc > p {
    margin: 2rem 0;
}

.main > .content > img {
    width: 25vw;
}

@media (max-width: 426px) {
    .main > h1 {
        text-align: center;
        font-size: 4vw;
    }

    .main > .content {
        flex-direction: column-reverse;

        margin-top: 5vh;
    }

    .main > .content > iframe {
        width: 30vh;
        height: 20vh;
        margin-top: 5vh;
    }

    .main > .content > .desc > a {
        margin-left: 0;

        font-size: 4vw;
    }

    .main > .content > img {
        width: 40vw;
    }
}