@keyframes navbar-scale {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 5vh;
  margin-bottom: 15vh;
  padding: 3vh 0;

  border: 0.25vw solid grey;
  animation: 1s ease-in-out navbar-scale;
}

.navbar button {
  border: none;
  background-color: rgb(20, 20, 20);
  width: fit-content;
  text-align: center;
  font-size: 1.5vw;
  padding: 1vh 1vw;
  margin-left: 5vw;
}

.navbar button:hover {
  background-color: white;
}

.navbar a {
  text-align: center;
  font-size: 1.5vw;
  padding: 1vh 0;
}

.navbar .pages a {
  margin: 0 .5vw;
  padding: .5vh .5vw;
}

.navbar .pages a img, .navbar button img {
  width: 1vw;
}

.navbar > a > img {
  position: absolute;
  width: 10vw;
  padding: 1vw;

  border: 0.5vw solid grey;
  border-radius: 1vw;
  translate: -40% -40%;
  z-index: 0;
  background-color: rgb(20, 20, 20);
}

.navbar > img {
  position: absolute;
  width: 10vw;
  padding: 1vw;

  border: 0.5vw solid grey;
  border-radius: 1vw;
  translate: 300% 10%;
  z-index: 0;
  background-color: rgb(20, 20, 20);
  /* animation: 2s ease-in-out img-scale; */
}

@keyframes scale {
  0%{
    scale: 1;
  }
  50%{
    scale: 1.2;
  }
  100%{
    scale: 1;
  }
}

.navbar > a > img:hover, .navbar > img:hover {
  cursor: pointer;
  animation: 1s ease-in-out scale;
}

@media (max-width: 426px) {
  .navbar {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .navbar > button {
    font-size: 1.6vw;
    margin: 0;
  }

  .navbar > .pages {
    padding: 1vw;
  }

  .navbar > .pages > a {
    font-size: 1.6vw;
  }

  .navbar > img {
    width: 15vw;
    translate: 60% -10%;
  }

  .navbar > a > img {
    width: 15vw;
    translate: 210% -40%;
  }
}